### TABLES

In [44]:
# Load the SQL extension
%reload_ext sql

# Connect to a MariaDB database
%sql mysql+pymysql://csc370:1234@localhost:3306/sprint1

### Creating tables

- From last sprint, we have our tables created
- Implemented relationship tables

In [45]:
%%sql

DROP TABLE IF EXISTS `PortfolioHasAllocation`;
DROP TABLE IF EXISTS `PortfolioHasStock`;
DROP TABLE IF EXISTS `AllocationHasStock`;
DROP TABLE IF EXISTS `StockHasHistory`;
DROP TABLE IF EXISTS `SessionHasPortfolio`;

 * mysql+pymysql://csc370:***@localhost:3306/sprint1
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [46]:
%%sql

DROP TABLE IF EXISTS `PortfolioHasAllocation`;
DROP TABLE IF EXISTS `PortfolioHasStock`;
DROP TABLE IF EXISTS `AllocationHasStock`;
DROP TABLE IF EXISTS `StockHasHistory`;
DROP TABLE IF EXISTS `SessionHasPortfolio`;
DROP TABLE IF EXISTS `Session`;
DROP TABLE IF EXISTS `Portfolio`;
DROP TABLE IF EXISTS `Allocation`;
DROP TABLE IF EXISTS `Stocks`;
DROP TABLE IF EXISTS `History`;

-- Create main tables
CREATE TABLE `Session` (
    `SessionID` INT PRIMARY KEY
);

CREATE TABLE `Portfolio` (
    `PortfolioID` INT PRIMARY KEY,
    `TotalAmt` FLOAT,
    `Risk` VARCHAR(64)
);

CREATE TABLE `Allocation` (
    `AllocID` INT PRIMARY KEY,
    `Ticker` VARCHAR(10),
    `Amount` FLOAT
);

CREATE TABLE `Stocks` (
    `StockID` INT PRIMARY KEY,
    `Ticker` VARCHAR(10),
    `Sector` VARCHAR(64),
    `Price` FLOAT,
    `SD` FLOAT,   -- Standard Deviation
    `ERet` FLOAT  -- Expected Return
);

CREATE TABLE `History` (
    `HistoryID` INT PRIMARY KEY,
    `Ticker` VARCHAR(10),
    `Date` VARCHAR(10),
    `Price` FLOAT
);

-- Create relationship tables

-- Session HAS Portfolio
-- Portfolio HAS Stocks (assuming a portfolio can directly contain stocks)
CREATE TABLE `PortfolioHasStock` (
    `PortfolioID` INT,
    `StockID` INT,
    FOREIGN KEY (`PortfolioID`) REFERENCES `Portfolio`(`PortfolioID`),
    FOREIGN KEY (`StockID`) REFERENCES `Stocks`(`StockID`),
    PRIMARY KEY (`PortfolioID`, `StockID`)
);

-- Allocation HAS Stocks
CREATE TABLE `AllocationHasStock` (
    `AllocID` INT,
    `StockID` INT,
    FOREIGN KEY (`AllocID`) REFERENCES `Allocation`(`AllocID`),
    FOREIGN KEY (`StockID`) REFERENCES `Stocks`(`StockID`),
    PRIMARY KEY (`AllocID`, `StockID`)
);

-- Stocks HAS History
CREATE TABLE `StockHasHistory` (
    `StockID` INT,
    `HistoryID` INT,
    FOREIGN KEY (`StockID`) REFERENCES `Stocks`(`StockID`),
    FOREIGN KEY (`HistoryID`) REFERENCES `History`(`HistoryID`),
    PRIMARY KEY (`StockID`, `HistoryID`)
);

CREATE TABLE `SessionHasPortfolio` (
    `SessionID` INT,
    `PortfolioID` INT,
    FOREIGN KEY (`SessionID`) REFERENCES `Session`(`SessionID`),
    FOREIGN KEY (`PortfolioID`) REFERENCES `Portfolio`(`PortfolioID`),
    PRIMARY KEY (`SessionID`, `PortfolioID`)
);

-- Portfolio HAS Allocation
CREATE TABLE `PortfolioHasAllocation` (
    `PortfolioID` INT,
    `AllocID` INT,
    FOREIGN KEY (`PortfolioID`) REFERENCES `Portfolio`(`PortfolioID`),
    FOREIGN KEY (`AllocID`) REFERENCES `Allocation`(`AllocID`),
    PRIMARY KEY (`PortfolioID`, `AllocID`)
);

 * mysql+pymysql://csc370:***@localhost:3306/sprint1

0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [47]:
%%sql

SHOW TABLES;

 * mysql+pymysql://csc370:***@localhost:3306/sprint1
10 rows affected.

[('allocation',),
 ('allocationhasstock',),
 ('history',),
 ('portfolio',),
 ('portfoliohasallocation',),
 ('portfoliohasstock',),
 ('session',),
 ('sessionhasportfolio',),
 ('stockhashistory',),
 ('stocks',)]

### DEMO

- User inputs AAPL, MSFT, AMZN, GOOGL, META, TSLA, BRK-A, JNJ, JPM, V, PG, NVDA, DIS, KO, WMT (step-by-step).
- We have two python modules that dynamically populate the Stocks table and the History table.
- Usefullness of the History table: If we need data that yfinance cannot provide we can use the History table to calculate.

In [48]:
import get_stock
import get_histroy

tickers = 'AAPL, MSFT, AMZN, GOOGL, META, TSLA, BRK-A, JNJ, JPM, V, PG, NVDA, DIS, KO, WMT'
# tickers = input("Enter the stock ticker symbols (separated by commas): ").split(',')
sql_insert_statements_stock = get_stock.main(tickers)
print(sql_insert_statements_stock)

sql_insert_statements_history = get_histroy.main(tickers)
print(sql_insert_statements_history)

INSERT INTO stocks (StockID, Ticker, Sector, Price, SD, ERet) VALUES (1, 'AAPL', 'Technology', 213.07, 1.25, 3.163);
INSERT INTO stocks (StockID, Ticker, Sector, Price, SD, ERet) VALUES (2, 'MSFT', 'Technology', 441.06, 0.893, 2.802);
INSERT INTO stocks (StockID, Ticker, Sector, Price, SD, ERet) VALUES (3, 'AMZN', 'Consumer Cyclical', 186.89, 1.142, 2.873);
INSERT INTO stocks (StockID, Ticker, Sector, Price, SD, ERet) VALUES (4, 'GOOGL', 'Communication Services', 177.79, 1.01, 4.837);
INSERT INTO stocks (StockID, Ticker, Sector, Price, SD, ERet) VALUES (5, 'META', 'Communication Services', 508.84, 1.206, 4.225);
INSERT INTO stocks (StockID, Ticker, Sector, Price, SD, ERet) VALUES (6, 'TSLA', 'Consumer Cyclical', 177.29, 2.318, 1.782);
INSERT INTO stocks (StockID, Ticker, Sector, Price, SD, ERet) VALUES (7, 'BRK-A', 'Financial Services', 615592.0, 0.88, 4.805);
INSERT INTO stocks (StockID, Ticker, Sector, Price, SD, ERet) VALUES (8, 'JNJ', 'Healthcare', 145.41, 0.53, 6.987);
INSERT INTO stocks (StockID, Ticker, Sector, Price, SD, ERet) VALUES (9, 'JPM', 'Financial Services', 191.53, 1.11, 8.056);
INSERT INTO stocks (StockID, Ticker, Sector, Price, SD, ERet) VALUES (10, 'V', 'Financial Services', 270.32, 0.967, 3.851);
INSERT INTO stocks (StockID, Ticker, Sector, Price, SD, ERet) VALUES (11, 'PG', 'Consumer Defensive', 165.18, 0.414, 4.22);
INSERT INTO stocks (StockID, Ticker, Sector, Price, SD, ERet) VALUES (12, 'NVDA', 'Technology', 125.2, 1.694, 2.684);
INSERT INTO stocks (StockID, Ticker, Sector, Price, SD, ERet) VALUES (13, 'DIS', 'Communication Services', 100.8, 1.402, 5.04);
INSERT INTO stocks (StockID, Ticker, Sector, Price, SD, ERet) VALUES (14, 'KO', 'Consumer Defensive', 62.88, 0.593, 4.469);
INSERT INTO stocks (StockID, Ticker, Sector, Price, SD, ERet) VALUES (15, 'WMT', 'Consumer Defensive', 66.31, 0.517, 3.755);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (1, 'AAPL', '2023-06-14', 183.22642517089844);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (2, 'AAPL', '2023-06-15', 185.2783203125);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (3, 'AAPL', '2023-06-16', 184.19261169433594);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (4, 'AAPL', '2023-06-20', 184.28225708007812);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (5, 'AAPL', '2023-06-21', 183.23638916015625);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (6, 'AAPL', '2023-06-22', 186.26443481445312);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (7, 'AAPL', '2023-06-23', 185.9456787109375);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (8, 'AAPL', '2023-06-26', 184.54124450683594);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (9, 'AAPL', '2023-06-27', 187.32025146484375);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (10, 'AAPL', '2023-06-28', 188.5055694580078);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (11, 'AAPL', '2023-06-29', 188.84423828125);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (12, 'AAPL', '2023-06-30', 193.20701599121094);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (13, 'AAPL', '2023-07-03', 191.70297241210938);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (14, 'AAPL', '2023-07-05', 190.57740783691406);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (15, 'AAPL', '2023-07-06', 191.05551147460938);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (16, 'AAPL', '2023-07-07', 189.92994689941406);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (17, 'AAPL', '2023-07-10', 187.86810302734375);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (18, 'AAPL', '2023-07-11', 187.34019470214844);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (19, 'AAPL', '2023-07-12', 189.02354431152344);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (20, 'AAPL', '2023-07-13', 189.79049682617188);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (21, 'AAPL', '2023-07-14', 189.93992614746094);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (22, 'AAPL', '2023-07-17', 193.22694396972656);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (23, 'AAPL', '2023-07-18', 192.96795654296875);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (24, 'AAPL', '2023-07-19', 194.3325653076172);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (25, 'AAPL', '2023-07-20', 192.37033081054688);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (26, 'AAPL', '2023-07-21', 191.1850128173828);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (27, 'AAPL', '2023-07-24', 191.99180603027344);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (28, 'AAPL', '2023-07-25', 192.8583984375);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (29, 'AAPL', '2023-07-26', 193.73492431640625);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (30, 'AAPL', '2023-07-27', 192.4599609375);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (31, 'AAPL', '2023-07-28', 195.05970764160156);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (32, 'AAPL', '2023-07-31', 195.67726135253906);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (33, 'AAPL', '2023-08-01', 194.84056091308594);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (34, 'AAPL', '2023-08-02', 191.82247924804688);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (35, 'AAPL', '2023-08-03', 190.41802978515625);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (36, 'AAPL', '2023-08-04', 181.27415466308594);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (37, 'AAPL', '2023-08-07', 178.14649963378906);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (38, 'AAPL', '2023-08-08', 179.09274291992188);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (39, 'AAPL', '2023-08-09', 177.48910522460938);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (40, 'AAPL', '2023-08-10', 177.2699432373047);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (41, 'AAPL', '2023-08-11', 177.3297882080078);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (42, 'AAPL', '2023-08-14', 178.99549865722656);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (43, 'AAPL', '2023-08-15', 176.9906768798828);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (44, 'AAPL', '2023-08-16', 176.1129608154297);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (45, 'AAPL', '2023-08-17', 173.54962158203125);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (46, 'AAPL', '2023-08-18', 174.03836059570312);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (47, 'AAPL', '2023-08-21', 175.3848419189453);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (48, 'AAPL', '2023-08-22', 176.77125549316406);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (49, 'AAPL', '2023-08-23', 180.65118408203125);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (50, 'AAPL', '2023-08-24', 175.9234619140625);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (51, 'AAPL', '2023-08-25', 178.14768981933594);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (52, 'AAPL', '2023-08-28', 179.72360229492188);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (53, 'AAPL', '2023-08-29', 183.64340209960938);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (54, 'AAPL', '2023-08-30', 187.16427612304688);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (55, 'AAPL', '2023-08-31', 187.38369750976562);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (56, 'AAPL', '2023-09-01', 188.96958923339844);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (57, 'AAPL', '2023-09-05', 189.20896911621094);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (58, 'AAPL', '2023-09-06', 182.43653869628906);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (59, 'AAPL', '2023-09-07', 177.1003875732422);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (60, 'AAPL', '2023-09-08', 177.71878051757812);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (61, 'AAPL', '2023-09-11', 178.89573669433594);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (62, 'AAPL', '2023-09-12', 175.8436737060547);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (63, 'AAPL', '2023-09-13', 173.7590789794922);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (64, 'AAPL', '2023-09-14', 175.2851104736328);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (65, 'AAPL', '2023-09-15', 174.55699157714844);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (66, 'AAPL', '2023-09-18', 177.50933837890625);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (67, 'AAPL', '2023-09-19', 178.6064910888672);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (68, 'AAPL', '2023-09-20', 175.03575134277344);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (69, 'AAPL', '2023-09-21', 173.4797821044922);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (70, 'AAPL', '2023-09-22', 174.3375701904297);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (71, 'AAPL', '2023-09-25', 175.62423706054688);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (72, 'AAPL', '2023-09-26', 171.514892578125);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (73, 'AAPL', '2023-09-27', 169.9888458251953);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (74, 'AAPL', '2023-09-28', 170.24818420410156);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (75, 'AAPL', '2023-09-29', 170.766845703125);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (76, 'AAPL', '2023-10-02', 173.3002471923828);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (77, 'AAPL', '2023-10-03', 171.9537353515625);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (78, 'AAPL', '2023-10-04', 173.2104949951172);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (79, 'AAPL', '2023-10-05', 174.45726013183594);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (80, 'AAPL', '2023-10-06', 177.03057861328125);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (81, 'AAPL', '2023-10-09', 178.52670288085938);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (82, 'AAPL', '2023-10-10', 177.92825317382812);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (83, 'AAPL', '2023-10-11', 179.3345947265625);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (84, 'AAPL', '2023-10-12', 180.24224853515625);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (85, 'AAPL', '2023-10-13', 178.38706970214844);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (86, 'AAPL', '2023-10-16', 178.25738525390625);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (87, 'AAPL', '2023-10-17', 176.6914520263672);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (88, 'AAPL', '2023-10-18', 175.3848419189453);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (89, 'AAPL', '2023-10-19', 175.00584411621094);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (90, 'AAPL', '2023-10-20', 172.43251037597656);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (91, 'AAPL', '2023-10-23', 172.5522003173828);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (92, 'AAPL', '2023-10-24', 172.99105834960938);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (93, 'AAPL', '2023-10-25', 170.65711975097656);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (94, 'AAPL', '2023-10-26', 166.4580078125);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (95, 'AAPL', '2023-10-27', 167.78456115722656);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (96, 'AAPL', '2023-10-30', 169.8491973876953);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (97, 'AAPL', '2023-10-31', 170.32797241210938);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (98, 'AAPL', '2023-11-01', 173.51968383789062);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (99, 'AAPL', '2023-11-02', 177.11036682128906);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (100, 'AAPL', '2023-11-03', 176.19273376464844);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (101, 'AAPL', '2023-11-06', 178.7660675048828);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (102, 'AAPL', '2023-11-07', 181.349365234375);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (103, 'AAPL', '2023-11-08', 182.41659545898438);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (104, 'AAPL', '2023-11-09', 181.93783569335938);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (105, 'AAPL', '2023-11-10', 186.16244506835938);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (106, 'AAPL', '2023-11-13', 184.5644989013672);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (107, 'AAPL', '2023-11-14', 187.2011260986328);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (108, 'AAPL', '2023-11-15', 187.7703857421875);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (109, 'AAPL', '2023-11-16', 189.46824645996094);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (110, 'AAPL', '2023-11-17', 189.44825744628906);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (111, 'AAPL', '2023-11-20', 191.2060089111328);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (112, 'AAPL', '2023-11-21', 190.3970489501953);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (113, 'AAPL', '2023-11-22', 191.06619262695312);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (114, 'AAPL', '2023-11-24', 189.7279052734375);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (115, 'AAPL', '2023-11-27', 189.54812622070312);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (116, 'AAPL', '2023-11-28', 190.1573486328125);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (117, 'AAPL', '2023-11-29', 189.128662109375);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (118, 'AAPL', '2023-11-30', 189.70791625976562);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (119, 'AAPL', '2023-12-01', 190.9962921142578);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (120, 'AAPL', '2023-12-04', 189.18858337402344);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (121, 'AAPL', '2023-12-05', 193.1735076904297);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (122, 'AAPL', '2023-12-06', 192.07492065429688);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (123, 'AAPL', '2023-12-07', 194.02243041992188);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (124, 'AAPL', '2023-12-08', 195.46058654785156);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (125, 'AAPL', '2023-12-11', 192.93380737304688);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (126, 'AAPL', '2023-12-12', 194.4618682861328);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (127, 'AAPL', '2023-12-13', 197.7077178955078);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (128, 'AAPL', '2023-12-14', 197.85752868652344);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (129, 'AAPL', '2023-12-15', 197.31822204589844);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (130, 'AAPL', '2023-12-18', 195.64035034179688);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (131, 'AAPL', '2023-12-19', 196.68902587890625);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (132, 'AAPL', '2023-12-20', 194.5817108154297);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (133, 'AAPL', '2023-12-21', 194.431884765625);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (134, 'AAPL', '2023-12-22', 193.35328674316406);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (135, 'AAPL', '2023-12-26', 192.80398559570312);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (136, 'AAPL', '2023-12-27', 192.90383911132812);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (137, 'AAPL', '2023-12-28', 193.3332977294922);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (138, 'AAPL', '2023-12-29', 192.28463745117188);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (139, 'AAPL', '2024-01-02', 185.40341186523438);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (140, 'AAPL', '2024-01-03', 184.01519775390625);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (141, 'AAPL', '2024-01-04', 181.6781768798828);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (142, 'AAPL', '2024-01-05', 180.9490966796875);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (143, 'AAPL', '2024-01-08', 185.32351684570312);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (144, 'AAPL', '2024-01-09', 184.904052734375);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (145, 'AAPL', '2024-01-10', 185.9527130126953);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (146, 'AAPL', '2024-01-11', 185.35348510742188);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (147, 'AAPL', '2024-01-12', 185.6830596923828);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (148, 'AAPL', '2024-01-16', 183.39598083496094);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (149, 'AAPL', '2024-01-17', 182.4471893310547);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (150, 'AAPL', '2024-01-18', 188.38961791992188);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (151, 'AAPL', '2024-01-19', 191.3158721923828);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (152, 'AAPL', '2024-01-22', 193.6428985595703);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (153, 'AAPL', '2024-01-23', 194.93125915527344);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (154, 'AAPL', '2024-01-24', 194.2521209716797);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (155, 'AAPL', '2024-01-25', 193.92254638671875);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (156, 'AAPL', '2024-01-26', 192.17477416992188);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (157, 'AAPL', '2024-01-29', 191.48565673828125);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (158, 'AAPL', '2024-01-30', 187.80035400390625);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (159, 'AAPL', '2024-01-31', 184.1649932861328);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (160, 'AAPL', '2024-02-01', 186.6218719482422);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (161, 'AAPL', '2024-02-02', 185.6131591796875);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (162, 'AAPL', '2024-02-05', 187.44081115722656);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (163, 'AAPL', '2024-02-06', 189.0587615966797);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (164, 'AAPL', '2024-02-07', 189.1686248779297);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (165, 'AAPL', '2024-02-08', 188.08001708984375);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (166, 'AAPL', '2024-02-09', 188.85000610351562);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (167, 'AAPL', '2024-02-12', 187.14999389648438);
INSERT INTO history (historyID, Ticker, Date, Price) VALUES (168, 'AAPL', '2024-02-13', 185.0399932861328);

In [49]:
%%sql

DELETE FROM stocks;
DELETE FROM history;

 * mysql+pymysql://csc370:***@localhost:3306/sprint1
0 rows affected.
0 rows affected.

[]

Store insert statements in a variable

In [50]:
# Store the SQL insert statements in a variable
%store sql_insert_statements_stock
%store sql_insert_statements_history

Stored 'sql_insert_statements_stock' (str)
Stored 'sql_insert_statements_history' (str)

Reads SQL file

In [51]:
%%sql

{sql_insert_statements_stock}
{sql_insert_statements_history}

 * mysql+pymysql://csc370:***@localhost:3306/sprint1
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [52]:
%%sql

-- First, ensure that the StockHasHistory table is empty
DELETE FROM StockHasHistory;

-- Insert data into StockHasHistory by matching StockID with HistoryID based on the Ticker
INSERT INTO StockHasHistory (StockID, HistoryID)
SELECT s.StockID, h.HistoryID
FROM Stocks s
JOIN History h ON s.Ticker = h.Ticker;

 * mysql+pymysql://csc370:***@localhost:3306/sprint1
0 rows affected.

3765 rows affected.

[]

In [53]:
%%sql

SELECT * FROM stocks;

 * mysql+pymysql://csc370:***@localhost:3306/sprint1
15 rows affected.

[(1, 'AAPL', 'Technology', 213.07, 1.25, 3.163),
 (2, 'MSFT', 'Technology', 441.06, 0.893, 2.802),
 (3, 'AMZN', 'Consumer Cyclical', 186.89, 1.142, 2.873),
 (4, 'GOOGL', 'Communication Services', 177.79, 1.01, 4.837),
 (5, 'META', 'Communication Services', 508.84, 1.206, 4.225),
 (6, 'TSLA', 'Consumer Cyclical', 177.29, 2.318, 1.782),
 (7, 'BRK-A', 'Financial Services', 615592.0, 0.88, 4.805),
 (8, 'JNJ', 'Healthcare', 145.41, 0.53, 6.987),
 (9, 'JPM', 'Financial Services', 191.53, 1.11, 8.056),
 (10, 'V', 'Financial Services', 270.32, 0.967, 3.851),
 (11, 'PG', 'Consumer Defensive', 165.18, 0.414, 4.22),
 (12, 'NVDA', 'Technology', 125.2, 1.694, 2.684),
 (13, 'DIS', 'Communication Services', 100.8, 1.402, 5.04),
 (14, 'KO', 'Consumer Defensive', 62.88, 0.593, 4.469),
 (15, 'WMT', 'Consumer Defensive', 66.31, 0.517, 3.755)]

In [54]:
%%sql

SELECT * FROM history
LIMIT 10;

 * mysql+pymysql://csc370:***@localhost:3306/sprint1
10 rows affected.

[(1, 'AAPL', '2023-06-14', 183.226),
 (2, 'AAPL', '2023-06-15', 185.278),
 (3, 'AAPL', '2023-06-16', 184.193),
 (4, 'AAPL', '2023-06-20', 184.282),
 (5, 'AAPL', '2023-06-21', 183.236),
 (6, 'AAPL', '2023-06-22', 186.264),
 (7, 'AAPL', '2023-06-23', 185.946),
 (8, 'AAPL', '2023-06-26', 184.541),
 (9, 'AAPL', '2023-06-27', 187.32),
 (10, 'AAPL', '2023-06-28', 188.506)]

In the future we will work on joining the History table and the Stocks table through the StocksHasHistory relationship table.

We may want to see which stocks have the highest price.

In [55]:
%%sql

SELECT * FROM stocks
ORDER BY Price DESC;

 * mysql+pymysql://csc370:***@localhost:3306/sprint1
15 rows affected.

[(7, 'BRK-A', 'Financial Services', 615592.0, 0.88, 4.805),
 (5, 'META', 'Communication Services', 508.84, 1.206, 4.225),
 (2, 'MSFT', 'Technology', 441.06, 0.893, 2.802),
 (10, 'V', 'Financial Services', 270.32, 0.967, 3.851),
 (1, 'AAPL', 'Technology', 213.07, 1.25, 3.163),
 (9, 'JPM', 'Financial Services', 191.53, 1.11, 8.056),
 (3, 'AMZN', 'Consumer Cyclical', 186.89, 1.142, 2.873),
 (4, 'GOOGL', 'Communication Services', 177.79, 1.01, 4.837),
 (6, 'TSLA', 'Consumer Cyclical', 177.29, 2.318, 1.782),
 (11, 'PG', 'Consumer Defensive', 165.18, 0.414, 4.22),
 (8, 'JNJ', 'Healthcare', 145.41, 0.53, 6.987),
 (12, 'NVDA', 'Technology', 125.2, 1.694, 2.684),
 (13, 'DIS', 'Communication Services', 100.8, 1.402, 5.04),
 (15, 'WMT', 'Consumer Defensive', 66.31, 0.517, 3.755),
 (14, 'KO', 'Consumer Defensive', 62.88, 0.593, 4.469)]

We may want to see how many of these stocks are in the unique sectors. This helps with diversification

In [56]:
%%sql

SELECT Sector, COUNT(*) AS NumberOfStocks
FROM stocks
GROUP BY Sector;

 * mysql+pymysql://csc370:***@localhost:3306/sprint1
6 rows affected.

[('Technology', 3),
 ('Consumer Cyclical', 2),
 ('Communication Services', 3),
 ('Financial Services', 3),
 ('Healthcare', 1),
 ('Consumer Defensive', 3)]

For each sectory we can see the average standard deviation which shows which sectory may be more risky

In [57]:
%%sql

SELECT Sector, ROUND(AVG(SD), 3) AS AverageSD
FROM stocks
GROUP BY Sector;

 * mysql+pymysql://csc370:***@localhost:3306/sprint1
6 rows affected.

[('Technology', 1.279),
 ('Consumer Cyclical', 1.73),
 ('Communication Services', 1.206),
 ('Financial Services', 0.986),
 ('Healthcare', 0.53),
 ('Consumer Defensive', 0.508)]

If the user wants 10 stocks but has interest in 15, we can take the 10 stocks with the highest estimated return.

In [58]:
%%sql

DELETE FROM stocks
WHERE StockID IN (
    SELECT StockID
    FROM (
        SELECT StockID
        FROM stocks
        ORDER BY ERet ASC
        LIMIT 5
    ) AS subquery
);

 * mysql+pymysql://csc370:***@localhost:3306/sprint1
(pymysql.err.IntegrityError) (1451, 'Cannot delete or update a parent row: a foreign key constraint fails (`sprint1`.`stockhashistory`, CONSTRAINT `stockhashistory_ibfk_1` FOREIGN KEY (`StockID`) REFERENCES `stocks` (`StockID`))')
[SQL: DELETE FROM stocks
WHERE StockID IN (
    SELECT StockID
    FROM (
        SELECT StockID
        FROM stocks
        ORDER BY ERet ASC
        LIMIT 5
    ) AS subquery
);]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [59]:
%%sql

SELECT * FROM stocks;

 * mysql+pymysql://csc370:***@localhost:3306/sprint1
15 rows affected.

[(1, 'AAPL', 'Technology', 213.07, 1.25, 3.163),
 (2, 'MSFT', 'Technology', 441.06, 0.893, 2.802),
 (3, 'AMZN', 'Consumer Cyclical', 186.89, 1.142, 2.873),
 (4, 'GOOGL', 'Communication Services', 177.79, 1.01, 4.837),
 (5, 'META', 'Communication Services', 508.84, 1.206, 4.225),
 (6, 'TSLA', 'Consumer Cyclical', 177.29, 2.318, 1.782),
 (7, 'BRK-A', 'Financial Services', 615592.0, 0.88, 4.805),
 (8, 'JNJ', 'Healthcare', 145.41, 0.53, 6.987),
 (9, 'JPM', 'Financial Services', 191.53, 1.11, 8.056),
 (10, 'V', 'Financial Services', 270.32, 0.967, 3.851),
 (11, 'PG', 'Consumer Defensive', 165.18, 0.414, 4.22),
 (12, 'NVDA', 'Technology', 125.2, 1.694, 2.684),
 (13, 'DIS', 'Communication Services', 100.8, 1.402, 5.04),
 (14, 'KO', 'Consumer Defensive', 62.88, 0.593, 4.469),
 (15, 'WMT', 'Consumer Defensive', 66.31, 0.517, 3.755)]

In [60]:
%%sql

-- First, ensure that the StockHasHistory table is empty
DELETE FROM StockHasHistory;

-- Insert data into StockHasHistory by matching StockID with HistoryID based on the Ticker
INSERT INTO StockHasHistory (StockID, HistoryID)
SELECT s.StockID, h.HistoryID
FROM Stocks s
JOIN History h ON s.Ticker = h.Ticker;

 * mysql+pymysql://csc370:***@localhost:3306/sprint1
3765 rows affected.
3765 rows affected.

[]

# Sprint 2

### Create date price tabel for one stock

$$
\begin{aligned}
&\text{Temp1} \leftarrow \sigma_{\text{s.StockID} = \text{shh.StockID}} (\text{Stocks} \times \text{StockHasHistory}) \\
&\text{Temp2} \leftarrow \sigma_{\text{shh.HistoryID} = \text{h.HistoryID}} (\text{Temp1} \times \text{History}) \\
&\text{Temp3} \leftarrow \sigma_{\text{s.Ticker} = 'AAPL'} (\text{Temp2}) \\
&\text{Result} \leftarrow \pi_{\text{h.Date, h.Price}} (\text{Temp3}) \\
&\text{FinalResult} \leftarrow \text{LIMIT}_{10} (\text{ORDER BY}_{\text{h.Date DESC}} (\text{Result}))
\end{aligned}
$$

$$
\begin{aligned}
\text{FinalResult} &\leftarrow \text{LIMIT}_{10} (\text{ORDER BY}_{\text{h.Date DESC}} (\pi_{\text{h.Date, h.Price}} ( \\
& \sigma_{\text{s.Ticker} = 'AAPL'} (\sigma_{\text{shh.HistoryID} = \text{h.HistoryID}} (\sigma_{\text{s.StockID} = \text{shh.StockID}} (\text{Stocks} \times \text{StockHasHistory} \times \text{History})))))))
\end{aligned}
$$

### SUMMARY
The simplified relational algebra expression performs the following operations:

- Joins: It joins the Stocks, StockHasHistory, and History tables based on their respective StockID and HistoryID fields.
- Selection: It filters the joined records to keep only those where the stock ticker is 'AAPL'.
- Projection: It projects (selects) only the Date and Price columns from the filtered results.
- Ordering and Limiting: It orders the results by Date in descending order and limits the output to the top 10 records.

Conmpact:

In [61]:
%%sql

SELECT h.Date, h.Price
FROM Stocks s
JOIN StockHasHistory shh ON s.StockID = shh.StockID
JOIN History h ON shh.HistoryID = h.HistoryID
WHERE s.Ticker = 'AAPL'
ORDER BY h.Date DESC
LIMIT 10;

 * mysql+pymysql://csc370:***@localhost:3306/sprint1
10 rows affected.

[('2024-06-12', 213.07),
 ('2024-06-11', 207.15),
 ('2024-06-10', 193.12),
 ('2024-06-07', 196.89),
 ('2024-06-06', 194.48),
 ('2024-06-05', 195.87),
 ('2024-06-04', 194.35),
 ('2024-06-03', 194.03),
 ('2024-05-31', 192.25),
 ('2024-05-30', 191.29)]

### Last three historical prices

\+ Note: Included RowNum, ordering for concept, not technically relational op's

$$
\begin{aligned}
&\text{Temp1} \leftarrow \sigma_{\text{Stocks.StockID} = \text{StockHasHistory.StockID}} (\text{Stocks} \times \text{StockHasHistory}) \\
&\text{Temp2} \leftarrow \sigma_{\text{StockHasHistory.HistoryID} = \text{History.HistoryID}} (\text{Temp1} \times \text{History}) \\
&\text{Temp3} \leftarrow \pi_{\text{Ticker, SD, Date, Price, RowNum}} (\text{Temp2}) \quad \text{(RowNum is conceptual)} \\
&\text{Temp4} \leftarrow \sigma_{\text{RowNum} \leq 3} (\text{Temp3}) \\
&\text{Result} \leftarrow \pi_{\text{Ticker, SD, Date, Price}} (\text{Temp4}) \\
&\text{FinalResult} \leftarrow \text{ORDER BY}_{\text{Ticker, Date DESC}} (\text{Result}) \quad \text{(conceptual sorting)}
\end{aligned}
$$

### Simplified Relational Algebra:

$$
\begin{aligned}
\text{FinalResult} \leftarrow \text{ORDER BY}_{\text{Ticker, Date DESC}} ( \\
&\pi_{\text{Ticker, SD, Date, Price}} ( \\
&\sigma_{\text{RowNum} \leq 3} ( \\
&\pi_{\text{Ticker, SD, Date, Price, RowNum}} ( \\
&((\text{Stocks} \bowtie_{\text{Stocks.StockID} = \text{StockHasHistory.StockID}} \text{StockHasHistory}) \\
&\bowtie_{\text{StockHasHistory.HistoryID} = \text{History.HistoryID}} \text{History}))))) \\
\end{aligned}
$$

### Summary
The simplified relational algebra expression performs the following operations:

- Joins: It first joins the Stocks table with the StockHasHistory table based on StockID. It then joins the resulting table with the History table based on HistoryID.
- Projection: Projects the Ticker, SD, Date, Price, and RowNum columns (conceptually, RowNum is added to rank the historical prices).
- Selection: Filters the results to include only those rows where RowNum is less than or equal to 3.
- Final Projection: Projects the required columns: Ticker, SD, Date, and Price.
- Ordering: Orders the final result by Ticker and Date in descending order.

In [62]:
%%sql

-- Using a Common Table Expression (CTE) to rank historical prices for each stock
WITH RankedHistory AS (
    SELECT 
        s.Ticker,            
        s.SD,                
        h.Date,             
        h.Price,             
        -- Assign a row number to each historical price entry for each stock, ordered by date in descending order
        ROW_NUMBER() OVER (PARTITION BY s.Ticker ORDER BY h.Date DESC) AS RowNum
    FROM Stocks s
    JOIN StockHasHistory shh ON s.StockID = shh.StockID
    JOIN History h ON shh.HistoryID = h.HistoryID
)

-- Select from the CTE
SELECT 
    Ticker,    
    SD,        
    Date,      
    Price      
FROM RankedHistory
WHERE RowNum <= 3
ORDER BY Ticker, Date DESC;

 * mysql+pymysql://csc370:***@localhost:3306/sprint1
45 rows affected.

[('AAPL', 1.25, '2024-06-12', 213.07),
 ('AAPL', 1.25, '2024-06-11', 207.15),
 ('AAPL', 1.25, '2024-06-10', 193.12),
 ('AMZN', 1.142, '2024-06-12', 186.89),
 ('AMZN', 1.142, '2024-06-11', 187.23),
 ('AMZN', 1.142, '2024-06-10', 187.06),
 ('BRK-A', 0.88, '2024-06-12', 615592.0),
 ('BRK-A', 0.88, '2024-06-11', 615769.0),
 ('BRK-A', 0.88, '2024-06-10', 617700.0),
 ('DIS', 1.402, '2024-06-12', 100.8),
 ('DIS', 1.402, '2024-06-11', 100.87),
 ('DIS', 1.402, '2024-06-10', 102.74),
 ('GOOGL', 1.01, '2024-06-12', 177.79),
 ('GOOGL', 1.01, '2024-06-11', 176.62),
 ('GOOGL', 1.01, '2024-06-10', 175.01),
 ('JNJ', 0.53, '2024-06-12', 145.41),
 ('JNJ', 0.53, '2024-06-11', 146.76),
 ('JNJ', 0.53, '2024-06-10', 147.13),
 ('JPM', 1.11, '2024-06-12', 191.53),
 ('JPM', 1.11, '2024-06-11', 194.36),
 ('JPM', 1.11, '2024-06-10', 199.61),
 ('KO', 0.593, '2024-06-12', 62.88),
 ('KO', 0.593, '2024-06-11', 63.55),
 ('KO', 0.593, '2024-06-10', 63.59),
 ('META', 1.206, '2024-06-12', 508.84),
 ('META', 1.206, '2024-06-11', 507.47),
 ('META', 1.206, '2024-06-10', 502.6),
 ('MSFT', 0.893, '2024-06-12', 441.06),
 ('MSFT', 0.893, '2024-06-11', 432.68),
 ('MSFT', 0.893, '2024-06-10', 427.87),
 ('NVDA', 1.694, '2024-06-12', 125.2),
 ('NVDA', 1.694, '2024-06-11', 120.91),
 ('NVDA', 1.694, '2024-06-10', 121.78),
 ('PG', 0.414, '2024-06-12', 165.18),
 ('PG', 0.414, '2024-06-11', 167.48),
 ('PG', 0.414, '2024-06-10', 167.35),
 ('TSLA', 2.318, '2024-06-12', 177.29),
 ('TSLA', 2.318, '2024-06-11', 170.66),
 ('TSLA', 2.318, '2024-06-10', 173.79),
 ('V', 0.967, '2024-06-12', 270.32),
 ('V', 0.967, '2024-06-11', 274.67),
 ('V', 0.967, '2024-06-10', 275.04),
 ('WMT', 0.517, '2024-06-12', 66.31),
 ('WMT', 0.517, '2024-06-11', 66.73),
 ('WMT', 0.517, '2024-06-10', 66.96)]

### Average historical price (period set by script)

$$
\begin{aligned}
&\text{Temp1} \leftarrow \sigma_{\text{Stocks.StockID} = \text{StockHasHistory.StockID}} (\text{Stocks} \times \text{StockHasHistory}) \\
&\text{Temp2} \leftarrow \sigma_{\text{StockHasHistory.HistoryID} = \text{History.HistoryID}} (\text{Temp1} \times \text{History}) \\
&\text{Temp3} \leftarrow \pi_{\text{Ticker, Price}} (\text{Temp2}) \\
&\text{Result} \leftarrow \gamma_{\text{Ticker}, \text{AVG(Price)} \rightarrow AvgPrice} (\text{Temp3})
\end{aligned}
$$

### Final Result in Relational Algebra:

$$
\begin{aligned}
\text{FinalResult} &\leftarrow \gamma_{\text{Ticker}, \text{AVG(Price)} \rightarrow \text{AvgPrice}} ( \\
&\pi_{\text{Ticker, Price}} ( \\
&\sigma_{\text{StockHasHistory.HistoryID} = \text{History.HistoryID}} ( \\
&\sigma_{\text{Stocks.StockID} = \text{StockHasHistory.StockID}} ( \\
&\text{Stocks} \times \text{StockHasHistory}) \\
&\times \text{History})))
\end{aligned}
$$

### Summary
The final result of the relational algebra expression performs the following operations:

- Join Stocks and StockHasHistory: Joins the Stocks table with the StockHasHistory table on StockID.
- Join the Resulting Table with History: Joins the resulting table from the first join with the History table on HistoryID.
- Projection: Projects the Ticker and Price columns from the resulting table.
- Aggregation: Groups the projected results by Ticker and computes the average Price for each group, naming the resulting average as AvgPrice.

In [63]:
%%sql

-- Retrieve the average historical price for each stock over the entire period
SELECT 
    s.Ticker,
    ROUND(AVG(h.Price), 2) AS AvgPrice
FROM 
    Stocks s
JOIN 
    StockHasHistory shh ON s.StockID = shh.StockID
JOIN 
    History h ON shh.HistoryID = h.HistoryID
GROUP BY 
    s.Ticker;

 * mysql+pymysql://csc370:***@localhost:3306/sprint1
15 rows affected.

[('AAPL', 182.73),
 ('MSFT', 371.72),
 ('AMZN', 153.37),
 ('GOOGL', 141.05),
 ('META', 378.93),
 ('TSLA', 219.6),
 ('BRK-A', 565853.73),
 ('JNJ', 154.55),
 ('JPM', 165.06),
 ('V', 256.1),
 ('PG', 152.67),
 ('NVDA', 62.29),
 ('DIS', 95.68),
 ('KO', 58.91),
 ('WMT', 55.43)]

### Date w highest price in period

$$
\begin{aligned}
&\text{Temp1} \leftarrow \sigma_{\text{Stocks.StockID} = \text{StockHasHistory.StockID}} (\text{Stocks} \times \text{StockHasHistory}) \\
&\text{Temp2} \leftarrow \sigma_{\text{StockHasHistory.HistoryID} = \text{History.HistoryID}} (\text{Temp1} \times \text{History}) \\
&\text{MaxPricePerTicker} \leftarrow \gamma_{\text{Ticker}, \text{MAX(Price)} \rightarrow MaxPrice} (\pi_{\text{Ticker, Price}} (\text{Temp2})) \\
&\text{Temp3} \leftarrow \sigma_{\text{Temp2.Ticker} = \text{MaxPricePerTicker.Ticker} \land \text{Temp2.Price} = \text{MaxPricePerTicker.MaxPrice}} (\text{Temp2} \times \text{MaxPricePerTicker}) \\
&\text{Result} \leftarrow \pi_{\text{Temp3.Ticker}, \text{Temp3.Date}, \text{Temp3.Price}} (\text{Temp3})
\end{aligned}
$$

$$
\begin{aligned}
\text{FinalResult} &\leftarrow \pi_{\text{Temp3.Ticker}, \text{Temp3.Date}, \text{Temp3.Price}} ( \\
&\sigma_{\text{Temp2.Ticker} = \text{MaxPricePerTicker.Ticker} \land \text{Temp2.Price} = \text{MaxPricePerTicker.MaxPrice}} ( \\
&\text{Temp2} \times \text{MaxPricePerTicker}) \\
\end{aligned}
$$

### Summary
The final result of the relational algebra expression performs the following operations:

- Join Stocks and StockHasHistory: Filters and joins the Stocks table with the StockHasHistory table based on StockID.
- Join Resulting Table with History: Filters and joins the resulting table with the History table based on HistoryID.
- Compute Maximum Price per Ticker: Projects the Ticker and Price columns from the joined table. Groups the results by Ticker and computes the maximum Price for each group, renaming the result as MaxPricePerTicker.
- Filter to Find Maximum Prices: Joins Temp2 with MaxPricePerTicker, selecting rows where the Ticker and Price match those in MaxPricePerTicker.
- Final Projection: Projects the Ticker, Date, and Price columns from Temp3.

In [64]:
%%sql

-- Find the date with the highest stock price for each stock
SELECT 
    s.Ticker,
    h.Date,
    h.Price
FROM 
    Stocks s
JOIN 
    StockHasHistory shh ON s.StockID = shh.StockID
JOIN 
    History h ON shh.HistoryID = h.HistoryID
WHERE 
    (s.Ticker, h.Price) IN (
        SELECT 
            s.Ticker, 
            MAX(h.Price)
        FROM 
            Stocks s
        JOIN 
            StockHasHistory shh ON s.StockID = shh.StockID
        JOIN 
            History h ON shh.HistoryID = h.HistoryID
        GROUP BY 
            s.Ticker
    );

 * mysql+pymysql://csc370:***@localhost:3306/sprint1
15 rows affected.

[('AAPL', '2024-06-12', 213.07),
 ('MSFT', '2024-06-12', 441.06),
 ('AMZN', '2024-05-09', 189.5),
 ('GOOGL', '2024-06-12', 177.79),
 ('META', '2024-04-05', 527.34),
 ('TSLA', '2023-07-18', 293.34),
 ('BRK-A', '2024-03-28', 634440.0),
 ('JNJ', '2023-07-28', 169.184),
 ('JPM', '2024-05-17', 204.79),
 ('V', '2024-03-21', 289.834),
 ('PG', '2024-06-06', 168.47),
 ('NVDA', '2024-06-12', 125.2),
 ('DIS', '2024-04-02', 122.82),
 ('KO', '2024-06-06', 64.15),
 ('WMT', '2024-06-06', 67.15)]

### Correlation between returns of two stocks **FIX** ***

Relational algebra breaks, huge statement

In [65]:
%%sql

-- Calculate the correlation between returns of two specific stocks
WITH Returns AS (
    SELECT 
        h1.Date,
        (h1.Price - LAG(h1.Price) OVER (PARTITION BY h1.Ticker ORDER BY h1.Date)) / LAG(h1.Price) OVER (PARTITION BY h1.Ticker ORDER BY h1.Date) AS ReturnAAPL,
        (h2.Price - LAG(h2.Price) OVER (PARTITION BY h2.Ticker ORDER BY h2.Date)) / LAG(h2.Price) OVER (PARTITION BY h2.Ticker ORDER BY h2.Date) AS ReturnMSFT
    FROM 
        History h1
    JOIN 
        StockHasHistory shh1 ON h1.HistoryID = shh1.HistoryID
    JOIN 
        Stocks s1 ON shh1.StockID = s1.StockID
    JOIN 
        History h2 ON h1.Date = h2.Date
    JOIN 
        StockHasHistory shh2 ON h2.HistoryID = shh2.HistoryID
    JOIN 
        Stocks s2 ON shh2.StockID = s2.StockID
    WHERE 
        s1.Ticker = 'AAPL' AND s2.Ticker = 'MSFT'
),
Stats AS (
    SELECT 
        COUNT(*) AS n,
        SUM(ReturnAAPL) AS sum_x,
        SUM(ReturnMSFT) AS sum_y,
        SUM(ReturnAAPL * ReturnMSFT) AS sum_xy,
        SUM(ReturnAAPL * ReturnAAPL) AS sum_xx,
        SUM(ReturnMSFT * ReturnMSFT) AS sum_yy
    FROM 
        Returns
)
SELECT 
    (n * sum_xy - sum_x * sum_y) / SQRT((n * sum_xx - sum_x * sum_x) * (n * sum_yy - sum_y * sum_y)) AS ReturnCorrelation
FROM 
    Stats;

 * mysql+pymysql://csc370:***@localhost:3306/sprint1
1 rows affected.

[(0.4428987007569701,)]

### Difference in query execution plans with/without index

\+ Note: Need to look further into how index works! i.e. if you already have primary key, will adding another unique index make it faster?

Creating 'ticker' index makes it search for tickers faster in history?

- [ ] Time large queries with/without index using 
  - SET @start_time = NOW();, end_time...
  - SELECT TIMEDIFF(@start_time, @end_time) AS ExecutionTime;

Try with a larger sample table?

In [66]:
%%sql

-- Explain the query without an index
EXPLAIN SELECT h.*
FROM History h
JOIN StockHasHistory shh ON h.HistoryID = shh.HistoryID
JOIN Stocks s ON shh.StockID = s.StockID
WHERE s.Ticker = 'AAPL'
ORDER BY h.Date;

 * mysql+pymysql://csc370:***@localhost:3306/sprint1
3 rows affected.

[(1, 'SIMPLE', 's', None, 'ALL', 'PRIMARY', None, None, None, 15, 10.0, 'Using where; Using temporary; Using filesort'),
 (1, 'SIMPLE', 'h', None, 'ALL', 'PRIMARY', None, None, None, 3765, 100.0, 'Using join buffer (hash join)'),
 (1, 'SIMPLE', 'shh', None, 'eq_ref', 'PRIMARY,HistoryID', 'PRIMARY', '8', 'sprint1.s.StockID,sprint1.h.HistoryID', 1, 100.0, 'Using index')]

In [67]:
%%sql

-- Create an index on the Ticker column in the Stocks table
CREATE INDEX idx_stocks_ticker ON Stocks(Ticker);

 * mysql+pymysql://csc370:***@localhost:3306/sprint1
0 rows affected.

[]

In [68]:
%%sql

-- Explain the query without an index
EXPLAIN SELECT h.*
FROM History h
JOIN StockHasHistory shh ON h.HistoryID = shh.HistoryID
JOIN Stocks s ON shh.StockID = s.StockID
WHERE s.Ticker = 'AAPL'
ORDER BY h.Date;

 * mysql+pymysql://csc370:***@localhost:3306/sprint1
3 rows affected.

[(1, 'SIMPLE', 'shh', None, 'index', 'PRIMARY,HistoryID', 'HistoryID', '4', None, 1, 100.0, 'Using index; Using temporary; Using filesort'),
 (1, 'SIMPLE', 's', None, 'eq_ref', 'PRIMARY,idx_stocks_ticker', 'PRIMARY', '4', 'sprint1.shh.StockID', 1, 6.67, 'Using where'),
 (1, 'SIMPLE', 'h', None, 'eq_ref', 'PRIMARY', 'PRIMARY', '4', 'sprint1.shh.HistoryID', 1, 100.0, None)]